.container{
    width: auto;
    height: auto;
    position: absolute;
    top:5%;
    left: 25%;
    right: 25%;
    bottom: 10%;
    margin: 5% -5%;
    display: inline-block;
}
.card-deck{
    min-height: max-content;
}

img{
    height: 25%;
    width: 35%;
}
p, li{
    font-size:medium;
}
h5{
  margin-top: 10px;

}
p{
  width: fit-content;
}
