<nav class="navbar navbar-brand d-flex flex-column
align-item-start" id="sidebar">
  <ul class="navbar-nav d-felx flex-column mt-5 w-100">
    <li class="nav-item w-100">
      <a routerLink="/users" class="nav-link text-light pl-4">Users</a>
    </li>
    <li class="nav-item w-100">
      <a routerLink="/products" class="nav-link text-light pl-4">Products</a>
    </li>
    <li class="nav-item w-100">
      <a routerLink="/statistics" class="nav-link text-light pl-4">Statistics</a>
    </li>
    <li class="nav-item w-100">
      <a routerLink="/edit-product" class="nav-link text-light pl-4">Edit-Product</a>
    </li>
  </ul>
</nav>