<div class="content">
  <table class="data" style="table-layout: fixed; width: 300px">
    <thead>
      <tr class="list-group-item clearfix">
        <th  *ngFor="let view of userView">
          {{ view }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data; let i" class="list-group-item clearfix">
        <td scope="row">
          {{ user._id }}
        </td>
        <td scope="row">
          {{ user.role }}
        </td>
        <td scope="row">
          <button
            class="btn btn-success"
            [index]="i + 1"
            (click)="onSelected(user._id)"
          >
            Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
