<div class="content">
    <table class="data" style="table-layout: fixed; width: 300px;">
        <thead>
            <tr class="list-group-item clearfix">
                <th *ngFor="let view of productView">
                    {{view}}
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of data" class="list-group-item clearfix">
                <td>
                    {{d.title}}
                </td>
                <td>
                    <img src="{{d.image}}" alt="" style="height:50px;">
                </td>
                <!-- <td>
                    {{d.body}}
                </td> -->
                <!-- <td *ngFor="let ing of product.ingredients" >
                    {{ing}}
                </td> -->
                <!-- <td *ngFor="let steps of product.steps">
                    {{steps}}
                </td> -->
                <td>
                    {{d.date}}
                </td>
                <!-- <td>
                    {{prodocut.likes}}
                </td> -->
                <!-- <td>
                    {{prodocut.comments}}
                </td> -->
                <!-- <td>
                    {{prodocut.author}}
                </td> -->
                <td>
                    <button class="btn btn-success" []="['/users', d._id]">Details</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>